.head {
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  background-image: url(http://www.transparenttextures.com/patterns/black-thread-light.png);
}
