.head {
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url("http://www.transparenttextures.com/patterns/black-thread-light.png");
}

.avatar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100px;
}

.name {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width:1024px) {
  .head {
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .avatar {
    display: flex;
    flex-direction: column;
  }

  .name {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width:768px) {
  .head {
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .avatar {
    display: flex;
    flex-direction: column;
  }

  .name {
    display: flex;
    flex-direction: column;
  }
}