.head {
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url("http://www.transparenttextures.com/patterns/black-thread-light.png");
}

.name {
  font-size: 30px;
}

@media only screen and (min-width:1024px) {
  .head {
    margin-top: 0.5em;
    margin-left: 2em;
    width: 500px
  }
}