.nav-Bar {
  height: 120px;
  width: 100%;
  background-color: #e6ae36;
  color: #FFFFFF;
  font-family: "Bungee";
  justify-content: space-between;
}

.nav-Bar-Right {
  display: flex; 
  align-items: center;
  margin: 1.5em;
}

@media only screen and (min-width: 1024px) {
  .nav-Bar {
    height: 120px;
    width: 100%;
    justify-content: space-between;
  }

  .nav-Bar-Right {
    display: flex; 
    align-items: center;
    margin: 1.5em;
  }
}